div {
    width: 100px;
    float: left;
}

#Movida, #c, #g {
    background-color: #e74040;
    border: solid;
    height: 100px;
    padding: 20px 15px 25px 35px
}

#Patata, #d, #f {
    background-color: #40bde7;
    border: solid;
    height: 40px;
    padding: 20px 15px 25px 35px
}

#a, #b, #e {
    background-color: #d04dea;
    border: solid;
    height: 60px;
    padding: 20px 15px 25px 35px
}

#columna-1, #columna-2, #columna-3 {
    border-width: 0px;
}