h1 {
    color: forestgreen;
}
h2 {
    color: #008080;
}
p {
    color: #4682b4;
}
#palabra{
    color: fuchsia;
}

#palabra2 {
    color: blue;
}

#palabra3 {
    color: orchid;
}

body{
    background-color: #002545;
}

div {
    background-color: aquamarine;
}